{# <div class="container-fluid" id="planos">
  <div class="container py-5">
    <h3 class="text-center text-uppercase">BENEFÍCIOS DE SER UM MEMBRO</h3>
    <p class="text-center">No Base27 somos uma comunidade. E para fortalecer ainda mais a nossa conexão e engajamento proporcionamos vivências em inovação para todos aqueles que fazem parte desse ecossistema. Contamos com três categorias de membros:</p>
    <div class="row mt-5">
      <div class="col-4 plano">
        <div class="card">
          <div class="card-header">
            <span>Mantenedor</span>
          </div>
          <div class="card-body">
            <div class="desc">
              <ul>
                <li><strong>Ter acesso a benefícios dos parceiros e do Clube de Vantagens*;</strong></li>
                <li>Participação em eventos, workshops e capacitações exclusivas;</li>
                <li>Ter acesso a uma rede de profissionais, startups, parceiros e prestadores de serviço;</li>
                <li>Fazer parte de uma comunidade ativa, que gera oportunidades para a cadeia e para o ecossistema;</li>
                <li>Capacitação em programas de financiamento, leis de incentivo e curadoria sobre prêmios na área de inovação;</li>
                <li>Participar de imersões em empresas e ambientes nacionais e internacionais, para estimular o intercâmbio de experiências e prospecção de negócios e parcerias;</li>
                <li>Divulgação da marca nos canais de comunicação do Base27;</li>
                <li>Ter acesso a um ambiente de inovação formado por um cluster de empresas do segmento, o que estimula novas possibilidades de negócios.</li>
              </ul>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-center pb-4">
            <a href="javascript:;" class="btn" data-value="1">Escolher</a>
          </div>
        </div>
      </div>
      <div class="col-4 plano">
        <div class="card ativo">
          <div class="card-header">
            <span>Residente</span>
          </div>
          <div class="card-body">
            <div class="desc">
              <ul>
                
              </ul>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-center pb-4">
            <a href="javascript:;" class="btn" data-value="2">Escolher</a>
          </div>
        </div>
      </div>
      <div class="col-4 plano">
        <div class="card">
          <div class="card-header">
            <span>Membership</span>
          </div>
          <div class="card-body">
            <div class="desc">
              <ul>
                <li><strong>Ter acesso a benefícios dos parceiros e do Clube de Vantagens*;</strong></li>
                <li>Banco de talentos dos Memberships compartilhado com os mantenedores;</li>
                <li>Clube de Vantagens do Base27;</li>
                <li>Certificação de participação em meetups, workshops, entre outros eventos, organizados pelo hub;</li>
                <li>Café com Membership, quando todos Memberships poderão se encontrar no auditório do Base27 para um café com uma das lideranças das empresas mantenedoras em um momento de inspiração e conexão.</li>
                <li>Experiências mensais programadas, de 2h a 3h, junto aos mantenedores</li>

              </ul>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-center pb-4">
            <a href="javascript:;" class="btn" data-value="0">Escolher</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> #}

<div class="container-fluid my-5" id="planos2">
  <h3>Benefícios de ser um <span>membro</span></h3>
  <div class="container infos my-5 py-5">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>


  <div class="container" id="planos_inf">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-header">
            <h4>Membro</h4>
            <h5>Membership</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum dolor </span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum dolor amet</span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit </span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-footer d-flex justify-content-center pb-4">
            <a href="javascript:;" class="btn" data-value="0">Escolher</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-header">
            <h4>Membro</h4>
            <h5>mantenedor</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum dolor </span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum dolor amet</span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit </span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-footer d-flex justify-content-center pb-4">
            <a href="javascript:;" class="btn" data-value="1">Escolher</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-header">
            <h4>Membro</h4>
            <h5>Residente</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum dolor </span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum dolor amet</span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit </span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-footer d-flex justify-content-center pb-4">
            <a href="javascript:;" class="btn" data-value="2">Escolher</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-header">
            <h4>Membro</h4>
            <h5>Patrocinador</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum dolor </span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum dolor amet</span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit </span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-footer d-flex justify-content-center pb-4">
            <a href="javascript:;" class="btn" data-value="3">Escolher</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-header">
            <h4>Membro</h4>
            <h5>Parceiro</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum dolor </span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum dolor amet</span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit </span>
                </div>
              </li>
              <li class="row py-1">
                <div class="col-2 text-center my-auto">
                  <img src="assets/img/planos/chevron-right.png" alt="">
                </div>
                <div class="col">
                  <span>lorem ipsum dolor sit lorem ipsum  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-footer d-flex justify-content-center pb-4">
            <a href="javascript:;" class="btn" data-value="4">Escolher</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>