<div class="container" id="conheca">
  <div class="row">
    <div class="col-4">
      <div style="background-image: url({{ assets }}img/quemsomos/espaco_01.jpg)"></div>
    </div>
    <div class="col-4">
      <div style="background-image: url({{ assets }}img/quemsomos/espaco_02.jpg)"></div>
    </div>
    <div class="col-4">
      <div style="background-image: url({{ assets }}img/quemsomos/espaco_03.jpg)"></div>
    </div>
  </div>
</div>
<div class="container" id="conheca-txt">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto pb-4">
      <p>Somos formados por uma <span class="marca-texto-azul">comunidade forte</span>, capaz de criar um ambiente que propicie o surgimento de soluções e práticas inovadoras. O espaço físico do hub é no térreo, sendo que todo o prédio foi pensado para sediar empresas do <strong>setor produtivo!</strong></p>
    </div>
  </div>
</div>