{{ header }}

  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Gerenciar estoque</h3>
        
        <div class="holder-estoque">
          <a href="javascript:;" class="item">
            <div class="head">
              <i class="fas fa-wine-bottle"></i>
              <span>Bebidas</span>
            </div>
            <div class="foot">
              x produtos
              <div>
                <i class="fas fa-circle text-success pr-2"></i> Ativo
              </div>
            </div>
          </a>
          <a href="javascript:;" class="item">
            <div class="head">
              <i class="fas fa-wine-bottle"></i>
              <span>Bebidas</span>
            </div>
            <div class="foot">
              x produtos
              <div>
                <i class="fas fa-circle text-success pr-2"></i> Ativo
              </div>
            </div>
          </a>
          <a href="javascript:;" class="item">
            <div class="head">
              <i class="fas fa-wine-bottle"></i>
              <span>Bebidas</span>
            </div>
            <div class="foot">
              x produtos
              <div>
                <i class="fas fa-circle text-success pr-2"></i> Ativo
              </div>
            </div>
          </a>
          <a href="javascript:;" class="item">
            <div class="head">
              <i class="fas fa-wine-bottle"></i>
              <span>Bebidas</span>
            </div>
            <div class="foot">
              x produtos
              <div>
                <i class="fas fa-circle text-success pr-2"></i> Ativo
              </div>
            </div>
          </a>
          <a href="javascript:;" class="item">
            <div class="head">
              <i class="fas fa-wine-bottle"></i>
              <span>Bebidas</span>
            </div>
            <div class="foot">
              x produtos
              <div>
                <i class="fas fa-circle text-success pr-2"></i> Ativo
              </div>
            </div>
          </a>
          <a href="javascript:;" class="item">
            <div class="head">
              <i class="fas fa-wine-bottle"></i>
              <span>Bebidas</span>
            </div>
            <div class="foot">
              x produtos
              <div>
                <i class="fas fa-circle text-success pr-2"></i> Ativo
              </div>
            </div>
          </a>
          <a href="javascript:;" class="item">
            <div class="head">
              <i class="fas fa-wine-bottle"></i>
              <span>Bebidas</span>
            </div>
            <div class="foot">
              x produtos
              <div>
                <i class="fas fa-circle text-success pr-2"></i> Ativo
              </div>
            </div>
          </a>
          <a href="javascript:;" class="item">
            <div class="head">
              <i class="fas fa-wine-bottle"></i>
              <span>Bebidas</span>
            </div>
            <div class="foot">
              x produtos
              <div>
                <i class="fas fa-circle text-success pr-2"></i> Ativo
              </div>
            </div>
          </a>
          <a href="javascript:;" class="item">
            <div class="head">
              <i class="fas fa-wine-bottle"></i>
              <span>Bebidas</span>
            </div>
            <div class="foot">
              x produtos
              <div>
                <i class="fas fa-circle text-success pr-2"></i> Ativo
              </div>
            </div>
          </a>
          <a href="#modalAddCategoria" data-toggle="modal" class="item novo">
            <div class="head">
              <i class="fas fa-plus"></i>
              <span>Adicionar categoria</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

{{ add }}

{{ footer }}